@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  color: #fbf7f4;
}

.service__link {
  background-image: url("https://images.pexels.com/photos/6659423/pexels-photo-6659423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
